<%inherit file="_base.html"/>

<%block name="head">
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
	<link href="/static/bootstrap-colorpickersliders/dist/bootstrap.colorpickersliders.min.css" rel="stylesheet" type="text/css" media="all">
	<link href="/static/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/tinycolor/0.11.1/tinycolor.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="/static/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/bootstrap-colorpickersliders/dist/bootstrap.colorpickersliders.min.js"></script>
	<script src="/static/mappa.js"></script>
</%block>

<%block name="content">
	<div id="map"></div>

	<div id="modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<form>
						<input type="hidden" id="modal-input-id">
						<input type="hidden" id="modal-input-lon">
						<input type="hidden" id="modal-input-lat">
						<div class="form-group">
							<label for="modal-input-title">Заголовок</label>
							<input type="text" class="form-control" id="modal-input-title" autofocus>
						</div>
						<div id="form-group-datetime" class="form-group">
							<label for="modal-input-datetime">Дата и время события</label>
							<input type="text" class="form-control" id="modal-input-datetime" placeholder="dd.mm.yyyy hh:mm" style="width:200px">
						</div>
						<div class="form-group">
							<label for="modal-input-description">Текст</label>
							<textarea class="form-control" id="modal-input-description" rows="10"></textarea>
						</div>
						<div id="form-group-file" class="form-group">
							<label for="modal-input-file">Фотография</label>
							<table>
								<td><img src="" style="width:100px; display:none; margin-right:10px;"></td>
								<td><input type="file" id="modal-input-file" accept="image/jpg"></td>
							</table>
						</div>
						<div id="form-group-color" class="form-group">
							<label>Цвет</label>
							<input type="hidden" id="modal-input-color">
						</div>
						<div class="form-group">
							<label for="modal-input-tags">Теги</label>
							<input type="text" class="form-control" id="modal-input-tags" placeholder="">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="modal-button-update" type="button" class="btn btn-primary">Сохранить</button>
					<button id="modal-button-delete" type="button" class="btn">Удалить</button>
				</div>
			</div>
		</div>
	</div>

</%block>
